<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<form method="post">
<h1>Afegir videojocs</h1>
<hr>
<table>
<tr>
    <td>
       <label>Nom: </label>
        <input type="text" name="Nom">
    </td>
</tr>
<tr>
    <td>
        <label>Preu: </label>
      <input type="number" name="Preu">
    </td>
</tr>
<tr>
    <td>
        <label>És nou?: </label>
        <input type="checkbox" name="Nou">
    </td>
</tr>
<tr>
    <td>
    <label>Plataforma: </label>
        <select name="Plataforma">
            {% for plataforma in plataformes %}
                <option>{{ plataforma.Nom }}</option>
            {% endfor %}
        </select>
    </td>

</tr>

<tr>
    <td>
        <hr>
        <input type="submit" value="Afegeix">
    </td>
</tr>

</table>
</form>

</div>

</body>
</html>
